.banner{
    padding: 80px 0;
}
.banner .container{
    display: flex;
    align-items: center;
}
.text-part,
.image-part{
    width: 50%;
}
.text-part h1{
    font-size: 50px;
    font-weight: 700;
    color: #222;
}
.text-part h1 span{
    color: #ff4d1c;
}
.text-part h2{
    font-size: 40px;
    font-weight: 700;
    color: #222;
}
.text-part p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #585858;
    padding-top: 30px;
}
.image-part{
    text-align: right;
}
.reviews{
    padding-bottom: 80px;
    text-align: center;
}
.reviews h2{
    font-size: 40px;
    font-weight: 700;
    color: #222;
    padding-bottom: 60px;
}
.banner button,
.reviews button{
    border: 0;
    outline: none;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ff4d1c;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 50px;
}
.banner button{
    margin-top: 20px;
}
.review-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}