.banner{
    padding: 80px 0;
}
.banner .container{
    display: flex;
    align-items: center;
}
.text-part,
.image-part{
    width: 50%;
}
.text-part h1{
    font-size: 50px;
    font-weight: 700;
    color: #222;
}
.text-part h1 span{
    color: #ff4d1c;
}
.text-part h2{
    font-size: 40px;
    font-weight: 700;
    color: #222;
}
.text-part p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #585858;
    padding-top: 30px;
}
.image-part{
    text-align: right;
}
.reviews{
    padding-bottom: 80px;
    text-align: center;
}
.reviews h2{
    font-size: 40px;
    font-weight: 700;
    color: #222;
    padding-bottom: 60px;
}
.banner button,
.reviews button{
    border: 0;
    outline: none;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ff4d1c;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 50px;
}
.banner button{
    margin-top: 20px;
}
.review-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-part h1{
        font-size: 42px;
    }
    .text-part h2{
        font-size: 32px;
    }
    .image-part img{
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-part h1{
        font-size: 34px;
    }
    .text-part h2{
        font-size: 30px;
    }
    .image-part img{
        width: 80%;
    }
    .review-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .banner .container{
        flex-direction: column;
    }
    .image-part{
        text-align: center;
    }
    .text-part,
    .image-part{
        width: 100%;
    }
    .text-part{
        order: 2;
    }
    .image-part{
        order: 1;
    }
    
    .review-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    .text-part h1 ,
    .text-part h2 {
        font-size: 28px;
    }
    .image-part img{
        width: 100%;
    }
    .nav-links .link ,
    .nav-links .active-link {
        font-size: 14px;
    }
    .nav-links li {
        padding: 0 7px;
    }
    .reviews h2 {
        font-size: 28px;
        padding-bottom: 30px;
    }
}